{% extends 'base.html' %}
{% block body %}
<form class="form-style-7" method="POST">
<ul>
<li>
    <label for="name">header</label>
    <input type="text" name="name" maxlength="100">
    <span>Enter a header here</span>
</li>
<li>
    <label for="url">url</label>
    <input type="text" name="url" maxlength="100">
    <span>Enter a valid url address</span>
</li>
<li>
    <label for="date_start">date start</label>
    <input type="text" name="date_start" maxlength="100">
    <span>Write start date of challenge</span>
</li>
<li>
    <label for="date_end">date end</label>
    <input type="text" name="date_end" maxlength="100">
    <span>Write end date of challenge</span>
</li>
<li>
    <label>title</label>
    <input type="text" name='title'>
    <span>Enter a title of your challenge</span>
</li>
<li>
    <label>key</label>
    <input type="text" name="key" >
    <span>Enter a key for database</span>
</li>
<li>
    <label>done</label>
    <input type="radio" name = 'done' value="true">True<br>
    <input type="radio" name="done" value="false">False<br>
    <span>Check if challenge is done or not</span>
</li>
<li>
    <label>required_time</label>
    <input type='text' name = 'required_time' >
    <span>Estimate time you need for challenge</span>
</li>
<li>
    <input type="submit" value="Send This" >
</li>
</ul>
</form>
{% end %}