{% extends 'base.html' %}
{% block body %}
    {% for challenge in challenges %}
    <div class='challenge'>
        <a href='/challenges/{{ challenge.url }}'>
        <h3> {{ challenge['header'] }} {{ challenge['date_start'] }} - {{ challenge['date_end'] }}</h3>
        {% for point in challenge.points[:3] %}
            <p>{{ point.title }} {{ point.required_time }} {{ point.done }}</p>
        {% end %}
            </a>
        <a class='btn' href='/edit/{{ challenge.url }}'><i class="fa fa-pencil-square-o fa-2x" aria-hidden="true"></i>Edit</a>
    </div>
    {% end %}
    <div id='new-challenge'><a href='/add'><i class="fa fa-plus-square fa-3x" aria-hidden="true"></i>Add new challenge</a></div>
{% end %}